/* Banner */
#banner {
	block-size: 400px;
	background: url('../images/about-banner.webp');
	background-size: cover;
	background-position: bottom;
}
.banner-content {
	position: relative;
	top: 12rem;
}
.banner-title {
	font-family: Merriweather, 'Times New Roman', Times, serif;
	color: var(--primary-dark);
	font-size: 2.5rem;
	font-weight: 500;
}
.breadcrumb a {
	text-decoration: none;
	color: var(--primary-dark);
	font-weight: 500;
}
.breadcrumb a:hover {
	color: var(--primary-dark-hover);
}

/* Media Queries */

/* Small */
@media (min-width: 576px) {
}

/* Medium */
@media (min-width: 768px) {
	.banner-title {
		font-size: 4rem;
	}
	.banner-content {
		top: 10rem;
	}
}

/* Large */
@media (min-width: 992px) {
}

/* Extra Large */
@media (min-width: 1200px) {
}

/* Extra Extra Large */
@media (min-width: 1400px) {
}
