:root {
	scroll-behavior: smooth;
	--primary-color: #a8cbb7;
	--secondary-color: #f4ebd0;
	--accent-color: #ff6b6b;
	--primary-light: #f5f5f5;
	--primary-dark: #333333;
	--primary-dark-hover: #333333aa;
	--content-padding: 0.75rem;
	--section-padding: 10rem;
}
*,
*::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.5;
	font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	font-size: 1.125rem;
	font-weight: 300;
	color: var(--primary-dark);
	background: var(--secondary-color);
	min-inline-size: 360px;
}
span {
	display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Merriweather, 'Times New Roman', Times, serif;
	font-weight: 500;
}
h1 {
	font-size: 2.5rem;
	padding: 0;
}
h2 {
	font-size: 2.5rem;
}

img,
picture {
	display: block;
	max-width: 100%;
}

/* Utilities */
.p-0 {
	padding: 0 !important;
}
.container,
.container-lg,
.container-fluid {
	padding-inline: 0.75rem;
	margin: auto;
	block-size: 100%;
}
/* Header */
.site-header {
	position: fixed;
	min-inline-size: 100%;
}
.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--content-padding);
}

/* Call to action */
.header-cta,
.hero-cta,
.about-cta,
.activities-cta {
	color: var(--secondary-color);
	text-decoration: none;
	text-transform: capitalize;
	border: 1px solid var(--secondary-color);
	border-radius: 1.75rem;
	padding-block: 1rem;
	padding-inline: 1.5rem;
	display: inline-block;
}
.about-cta,
.activities-cta {
	color: var(--primary-dark);
	border: 1px solid var(--primary-dark);
}
.activities-cta {
	inline-size: fit-content;
}
.header-cta {
	display: none;
}

/* Nav */
.primary-nav ul {
	display: flex;
	gap: 1rem;
	list-style: none;
}
.logo img {
	min-inline-size: 5.5rem;
}
/* Hero */
#hero {
	height: 100vh;
	background: url('/assets/images/hero-image-sm.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hero-content {
	display: grid;
	align-items: center;
	color: var(--secondary-color);
	grid: auto-flow / 1fr;
	padding: var(--content-padding);
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hero-content > div > * {
	margin-block-end: 1rem;
}
.primary-nav {
	display: none;
}
.primary-nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--secondary-color);
}
.mobile-menu-toggle {
	font-size: 2rem;
	background: transparent;
	border: none;
	color: var(--secondary-color);
}
.mobile-menu-toggle:hover {
	cursor: pointer;
}
/* About Section - Homepage */
#about {
	padding-block: var(--section-padding);
}
.about-content {
	text-align: center;
}
.about-content > * {
	margin-block-end: 2rem;
}

/* Activities */
.activities-content {
	display: grid;
	grid: auto-flow / 1fr;
	height: 100%;
	align-items: center;
}
.activities-image {
	background: #ff6b6b;
	height: 100%;
}
.activities-image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.activities-info {
	display: grid;
	padding-inline: 3rem;
	height: fit-content;
	gap: 2.5rem;
	padding-block: 8rem;
	background: var(--primary-light);
}

.activities-items {
	display: grid;
	grid-template-columns: auto;
	gap: 3rem;
}
.activities-item {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.activities-item i {
	font-size: 2.5rem;
}

/* Reviews */
#reviews {
	padding-block: var(--section-padding);
}
.reviews-content {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}
.review-card-image img {
	width: 100%;
	object-fit: cover;
}

/* Newsletter */
#newsletter {
	padding-block: var(--section-padding);
	background: var(--primary-light);
}
.newsletter-content {
	text-align: center;
}
.newsletter-header {
	margin-block-end: 3rem;
}
.newsletter-input {
	border: 2px solid var(--primary-dark);
	width: fit-content;
	margin: auto;
	border-radius: 5rem;
	padding: 0.1rem;
	inline-size: 80%;
	display: flex;
	flex-wrap: nowrap;
	/* min-inline-size: 330px; */
	overflow: hidden;
}
.newsletter-input input {
	border: none;
	outline: none;
	background: var(--primary-light);
	padding: 1rem;
	border-radius: 5rem;
	flex-grow: 1;
	flex-shrink: 1;
}
.newsletter-input button {
	padding: 1.5rem 4rem;
	border-radius: 5rem;
	margin: auto;
	background: var(--primary-dark);
	color: var(--secondary-color);
	flex-shrink: 1;
}
/* Footer */
footer {
	padding-block: 6rem 1rem;
}
footer h3 {
	margin-block-end: 2rem;
}
.footer-content {
	display: grid;
	grid: auto-flow / 1fr;
	gap: 2rem;
}
.quick-links a {
	display: block;
	color: var(--primary-dark);
	text-decoration: none;
}
.quick-links a:hover {
	color: var(--primary-dark-hover);
}
.social-icons a {
	color: var(--primary-dark);
	font-size: 2rem;
}
.social-icons a:hover {
	color: var(--primary-dark-hover);
}
.address-name {
	font-weight: 600;
}
.footer-bottom {
	border-block-start: 1px solid var(--primary-dark);
	margin-block-start: 1rem;
	padding-block-start: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
}
.copyright,
.payment {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
/* Media Queries */

/* Small */
@media (min-width: 576px) {
	.container {
		max-inline-size: 540px;
	}
	#hero {
		background: url('/assets/images/hero-image-md.webp');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.reviews-content {
		grid-template-columns: 1fr 1fr;
	}
	.activities-items {
		grid-template-columns: auto auto;
	}
	.footer-content {
		display: grid;
		grid: auto-flow / 1fr 1fr 1fr;
	}
}

/* Medium */
@media (min-width: 768px) {
	.container {
		max-inline-size: 720px;
	}
	.mobile-menu-toggle {
		display: none;
	}
	.header-cta {
		display: inline-block;
	}
	.primary-nav {
		display: block;
	}
	.hero-content {
		grid: auto-flow / 2fr 1fr;
	}
	h1 {
		font-size: 4rem;
	}
	.reviews-content {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.activities-items {
		grid-template-columns: auto auto auto;
	}
}

/* Large */
@media (min-width: 992px) {
	.container,
	.container-lg {
		max-inline-size: 960px;
	}
	.activities-content {
		display: grid;
		grid: auto-flow / 1fr 1fr;
	}
	.reviews-content {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

/* Extra Large */
@media (min-width: 1200px) {
	.container,
	.container-lg {
		max-inline-size: 1140px;
	}
	#hero {
		background: url('/assets/images/hero-image-lg.webp');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

/* Extra Extra Large */
@media (min-width: 1400px) {
	.container-lg {
		max-inline-size: 1320px;
	}
	h1 {
		font-size: 5rem;
	}
}
