:root {
	scroll-behavior: smooth;
}
*,
*::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.5;
	font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Merriweather, 'Times New Roman', Times, serif;
}

img,
picture {
	display: block;
	max-width: 100%;
}
